<div class="col">
	<div class="col-md-10">
        <div class="card card-body bg-light">
        	     <form class="container" action="/client/client" method="post">
                      {% csrf_token %}
                    <section class="form-control">
				        		<a href="" class="btn btn-success btn-sn btn-block"><h4><em>Ajouter un client</em></h4></a>
                          {{ form|crispy }}
                    </section>
                    <br>

                      <!-- <div class="g-recaptcha" data-sitekey="6Ld_qjQUAAAAADjv2scrqpvXK4OrBZALRJFMANpP"></div> -->
                     <input type="submit" class="btn btn-success" value="Creer client" name="submit">


                  </form>
        </div>

	</div>


</div>