[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-crispy-forms = "*"
django-forms-bootstrap = "*"
django-bootstrap-icons = "*"
django-bootstrap-modal-forms = "*"
graphviz = "*"
django-heroku = "*"
django-extensions = "*"
pydotplus = "*"

[dev-packages]

[requires]
python_version = "3.10"
