{% extends 'base/main.html' %}
{% load static %}
{% load crispy_forms_tags%}
{ block headcontent}
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
     <link rel="stylesheet" type="text/css" href="/static/js/datatables1.css">
     <link rel="stylesheet" href="/static/js/assets/css/boostrap.css">
      <link rel="stylesheet" href="/static/js/assets/css/boostrap.min.css">
     <link rel="stylesheet" href="/static/js/assets/css/font-awesome.min.css">
    <!-- <link rel="stylesheet" type="text/css" href="/static/js/list_tables.css"> -->
    
     
  


{endblock}
{% block content %}
<div class="container">
	<br><b>

<!--commencement l'insertion de notre page modal <img src="/static/css/images/user-plus.svg" style="width:25px;" fill='%23000'>-->
	<!-- Button trigger modal -->
<button type="button" class="btn btn-success show-form" data-toggle="modal" data-target="#exampleModal" id="modal-book">
   <i class="fa fa-user-plus"></i> Ajouter client
</button>

<!-- Modal================================================================= -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      
         <form class="container" action="/client/client" method="post" class="create-form">
                      {% csrf_token %}
                    <section class="form-control">
				        		<a href="" class="btn btn-success btn-sn btn-block"><h4><em>Ajouter un client</em></h4></a>
                          {{ form|crispy }}
                    </section>
                    <br>

                      <!-- <div class="g-recaptcha" data-sitekey="6Ld_qjQUAAAAADjv2scrqpvXK4OrBZALRJFMANpP"></div> -->
                     <!--<input type="submit" class="btn btn-success" value="Creer client" name="submit"> -->


                  
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-success">Save changes</button>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- commence slide de liste des client ===============================-->

{% include 'client/list_client_2.html' %}

<!-------------------------------------------------------------------------------------------------------------------------------->


<div class="modal fade" id="modal-book">
	<div class="modal-dialog">
		<div class="modal-content"></div>
	</div>

</div>


{% endblock %}
{% block scriptcontent %}
<
<!--<script>
$(document).ready(function(){
    $('#myTable').dataTable();
});
</script>-->
<!--<script>
  $(document).ready(function(){
    $('#exampleModal').modal();
  });
</script>-->

<script src="/static/js/jquery.bootstrap.modal.forms.min.js"></script>
<script src="/static/js/jquery-3.2.1.min.js"></script>
<script src="/static/js/plugin.js"></script>
<script src="/static/js/Bootstrap.min.js"></script>
<script src="/static/js/list.js"></script>
<script src="/static/js/plugins.js"></script>



<!--================== supprimer ====================================================================-->


{% endblock %}

{% include 'base/search.html' %}
