<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Page d'accueil</title>
  <link rel="stylesheet" href="style[1].css">
  <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>
<body>
  <div class="wrapper">
    <nav>
      <input type="checkbox" id="show-search">
      <input type="checkbox" id="show-menu">
      <label for="show-menu" class="menu-icon"><i class="fas fa-bars"></i></label>
      <div class="content">
      <div class="logo"><a href="image.JPG" style="width: 100;">Accueil</a></div>
        <ul class="links">
       
          
          <li>
            <a href="#" class="desktop-link">Comptes</a>
            <input type="checkbox" id="show-features">
            <label for="show-features">Clients</label>
            <ul>
              <li><a href="#">Compte Courant</a></li>
              <li><a href="#">Compte Epargne</a></li>
              
              
            </ul>
          </li>
          <li><a href="#">Client</a></li>
          <li><a href="#">About us</a></li>
          
          <li>
            <a href="#" class="desktop-link">Operations</a>
            <input type="checkbox" id="show-features">
            <label for="show-features">Clients</label>
            <ul>
              <li><a href="#">Virement</a></li>
              <li><a href="#">Versement</a></li>
              <li><a href="#">Retrait</a></li>
              
            </ul>
          </li>
          <li>
            <a href="#" class="desktop-link">Contact</a>
            
            <input type="checkbox" id="show-services">
            <label for="show-services">About us</label></li>
         
        </ul>
      </div>
      
      <form action="#" class="search-box">
        <input type="text" placeholder="Type Something to Search..." required>
        <button type="submit" class="go-icon"><i class="fas fa-long-arrow-alt-right"></i></button>
      </form>
    </nav>
  </div>

  <div class="dummy-text">
    <h2></h2>
    <h2></h2>
  </div>

</body>
</html>
