{% extends 'base/main.html' %}


{% block headcontent %}
<style>
  body {font-family: Arial, Helvetica, sans-serif;}
  * {box-sizing: border-box;}
  
  /* Set a style for all buttons */
  button {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px ;
    border: none;
    cursor: pointer;
    width: 20%;
    opacity: 0.9;
  }
  
  button:hover {
    opacity:1;
  }
  
  /* Float cancel and delete buttons and add an equal width */
  .cancelbtn, .deletebtn {
    float: left;
    width: 20%;
  }
  
  /* Add a color to the cancel button */
  .cancelbtn {
    background-color:#f44336;
    color: black;
  }
  
  /* Add a color to the delete button */
  .deletebtn {
    background-color:green ;
  }
  
  /* Add padding and center-align text to the container */
  .container {
    padding: 16px;
    text-align: center;
  }
  
  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: #474e5d;
    padding-top: 50px;
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 30%; /* Could be more or less, depending on screen size */
  }
  
  /* Style the horizontal ruler */
  hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
  }
   
  /* The Modal Close Button (x) */
  .close {
    position: absolute;
    right: 35px;
    top: 15px;
    font-size: 40px;
    font-weight: bold;
    color: #f1f1f1;
  }
  
  .close:hover,
  .close:focus {
    color: #f44336;
    cursor: pointer;
  }
  
  /* Clear floats */
  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
  
  /* Change styles for cancel button and delete button on extra small screens */
  @media screen and (max-width: 300px) {
    .cancelbtn, .deletebtn {
       width: 10%;
    }
  }
  
</style>
{% endblock %}
{% block content%}
<br><br>
<div class="col-md-5 col-sm-4 container justify-content-center">
    <div class="col">
        <div class="card card-body bg-light" style="border-redius:100px;">
            <h2>Supprimer un client</h2>
           <div class="text-center"><button onclick="document.getElementById('id01').style.display='block'" class="btn btn-success" style="text-center">Supprimer</button>
           </div>
        </div>
    </div>

<div id="id01" class="modal">
  <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">×</span>
  <form class="modal-content" action="{% url 'supprimer_client' item.id %}" method="post">
              {% csrf_token %}
      <h1>Supprimer un client  </h1>
      <p>êtes-vous sûr de vouloir supprimer?</p>
              {{ item }}
      <div class="clearfix justify-content-cente">
          <button type="button" class="btn btn-danger"> <a href="{% url 'ajouter_client' %}">
            NON
        </a></button>
        <button type="submit" onclick="document.getElementById('id01').style.display='none'" class="btn btn-success">OUI</button>
      </div>
    </div>
  </form>


</div>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
 <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
 <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

{% endblock %}
{% block scriptcontent%}
<script>
// Get the modal
var modal = document.getElementById('id01');

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}
</script>
{% endblock %}

